.task_column_heading {
    display: flex;
    align-items: center;
}

.task_column_icon {
    width: 30px;
    margin-right: 5px;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .task_column_heading {
        font-size: 16px;
    }

    .task_column_icon {
        width: 24px;
    }
}
